// Colors
$yellow: #FDD300;
$almostBlack: #171B0E;
$pine: #2B331B;
$black: #0f0f0f;

// Global styles
html {
    overflow-x: hidden;
}

section {
    background-color: $pine;
}

section:nth-of-type(even) {
    background-color: $almostBlack;
}

section:nth-of-type(3) h3{
    margin-top: 0;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a, a:visited, a:active{
    color: white;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 5px 0 -3px $yellow;
}

.wrapper {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.blogBody, .contactBody {
    background-color: $pine;
}

// Utility
@mixin flexIt($direction: row) {
    display: flex;
    flex-direction: $direction;
}

.gridIt {
    display: grid;
}