// Mixins 
// josefineHeader($fontSize, $color, $weight:400, $lineHeight:99.8px)
// @mixin buttonMaker($pad: 15px, $bgColor: $yellow)

.s5Grid {
    padding: 100px 0;
    grid-template-columns: 2fr 9fr;
    grid-column-gap: 50px;
}

.s5Grid figure {
    align-self: center;
}

.s5Grid figure img {
    position: relative;
    box-shadow: -20px 20px $yellow;
}

.s5Grid article h3 {
    @include josefineHeader(45px, $yellow);
    margin-top: 0;
    margin-bottom: 15px;
}

.s5Grid article p {
    margin-bottom: 30px;
    color: white;
}

.s5Grid article a {
    @include buttonMaker(15px, black);
}