html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

section {
  background-color: #2B331B;
}

section:nth-of-type(even) {
  background-color: #171B0E;
}

section:nth-of-type(3) h3 {
  margin-top: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a, a:visited, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  -webkit-box-shadow: 0 5px 0 -3px #FDD300;
          box-shadow: 0 5px 0 -3px #FDD300;
}

.wrapper {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.blogBody, .contactBody {
  background-color: #2B331B;
}

.gridIt {
  display: -ms-grid;
  display: grid;
}

.bodyText {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  font-size: 28px;
  letter-spacing: default;
}

.btn {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22.4px;
  font-weight: 400;
  color: black;
  line-height: 41.6px;
  text-align: center;
}

.homeHeader {
  background-image: url(../images/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.homeHeadWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.homeHeadWrap nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homeHeadWrap nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 29px;
  letter-spacing: 1px;
}

.headerTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.headerTitle__HeadingContainer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white;
  line-height: 99.8px;
}

.headerTitle__HeadingContainer__Heading--whiteBG {
  padding-top: 10px;
  text-align: center;
  background-color: white;
  color: black;
}

.headerTitle div {
  width: 25%;
  padding-bottom: 250px;
}

.headerTitle div:nth-of-type(2) {
  width: 75%;
  height: auto;
  background-image: url(../images/home-box-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 35%;
  top: 250px;
}

.homeSection1 {
  padding: 250px 0 150px 0;
}

.s1Grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 100px;
}

.s1Grid article {
  -ms-grid-columns: 1fr 9fr;
      grid-template-columns: 1fr 9fr;
  color: white;
}

.s1Grid article.gridIt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.s1Grid article.gridIt div:nth-of-type(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s1Grid div:nth-of-type(2) h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: white;
  line-height: 99.8px;
  margin: 0;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 75%;
  background-color: #FDD300;
}

.icon {
  font-size: 2rem;
  color: black;
}

.s2Grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 250px;
  grid-row-gap: 50px;
}

.s2Grid figure {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.s2Grid figure img {
  position: relative;
}

.s2Grid figure:nth-of-type(1) img {
  -webkit-box-shadow: 20px 20px #FDD300;
          box-shadow: 20px 20px #FDD300;
  top: -75px;
}

.s2Grid figure:nth-of-type(2) img {
  -webkit-box-shadow: -20px -20px #FDD300;
          box-shadow: -20px -20px #FDD300;
  top: 75px;
}

.s2Grid article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s2Grid article:nth-of-type(1) {
  text-align: left;
  padding: 50px 15% 50px 0;
}

.s2Grid article:nth-of-type(2) {
  text-align: right;
  padding: 50px 0 50px 15%;
}

.s2Grid article h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: white;
  line-height: 58px;
  letter-spacing: 1.3px;
  margin: 0;
}

.s2Grid article p {
  color: white;
  margin: 15px 0 45px 0;
}

.s2Grid article a {
  padding: 15px;
  background-color: #FDD300;
  color: black;
}

.homeSection3 {
  padding: 100px;
}

.s3Wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 100px;
}

.s3Wrap h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: #FDD300;
  line-height: 99.8px;
  margin-bottom: 15px;
}

.s3Wrap .bodyText {
  color: white;
  margin-bottom: 45px;
}

.s3Wrap a {
  padding: 15px;
  background-color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.s3Wrap h3, .s3Wrap a {
  text-align: center;
}

.homeSection4 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.s5Grid {
  padding: 100px 0;
  -ms-grid-columns: 2fr 9fr;
      grid-template-columns: 2fr 9fr;
  grid-column-gap: 50px;
}

.s5Grid figure {
  position: relative;
  left: 20px;
  top: -20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.s5Grid figure img {
  position: relative;
  -webkit-box-shadow: -20px 20px #FDD300;
          box-shadow: -20px 20px #FDD300;
}

.s5Grid article h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: #FDD300;
  line-height: 99.8px;
  margin-top: 0;
  margin-bottom: 0;
}

.s5Grid article p {
  margin-bottom: 30px;
  color: white;
}

.s5Grid article a {
  padding: 15px;
  background-color: black;
}

.homeSection6 {
  padding: 100px 0;
}

.s6Grid {
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  grid-column-gap: 50px;
}

footer {
  text-align: center;
  background-color: #0f0f0f;
}

footer p {
  padding: 1px 0;
  margin: 0;
  color: white;
}

.blogHeader {
  background-image: url(../images/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.blogHeadWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.blogHeadWrap nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blogHeadWrap nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 29px;
  letter-spacing: 1px;
}

.blogHeaderTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blogHeaderTitle__HeadingContainer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white;
  line-height: 99.8px;
}

.blogHeaderTitle__HeadingContainer__Heading--whiteBG {
  padding-top: 10px;
  text-align: center;
  background-color: white;
  color: black;
}

.blogHeaderTitle div {
  width: 25%;
  padding-bottom: 300px;
}

.blogMain {
  padding: 100px 0 0 0;
}

.blogSection {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-column-gap: 150px;
  grid-row-gap: 50px;
}

.blogArticle1 {
  padding: 0 0 50px 10%;
}

.blogArticle1 div {
  background-color: #171B0E;
  padding: 15px;
}

.blogArticle1 div figure {
  position: relative;
  top: -40px;
  left: -60px;
}

.blogArticle1 div article {
  margin-top: 50px;
}

.blogArticle1 div figcaption h4, .blogArticle1 div article h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #FDD300;
  line-height: 58px;
  letter-spacing: 0.8px;
  margin: 0;
}

.blogArticle1 div figcaption p, .blogArticle1 div article p {
  color: white;
}

.reDisc li p::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 0;
}

.art2FlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.art2FlexContainer figure {
  position: relative;
  left: 20px;
  top: -250px;
}

.art2FlexContainer figure img {
  -webkit-box-shadow: -25px 20px #FDD300;
          box-shadow: -25px 20px #FDD300;
}

.art2FlexContainer article {
  position: relative;
  top: -250px;
  -webkit-box-shadow: -5px 5px #FDD300;
          box-shadow: -5px 5px #FDD300;
  padding: 50px 10%;
}

.art2FlexContainer article h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: #FDD300;
  line-height: 99.8px;
}

.art2FlexContainer article h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
  line-height: 1px;
  letter-spacing: 1px;
}

.art2FlexContainer article p {
  color: white;
  margin: 25px 0;
}

.blogArticle4 {
  position: relative;
  top: -200px;
  padding-right: 10%;
}

.bA4MContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
}

.bA4MContainer div {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-column-gap: 50px;
}

.c1 {
  margin-bottom: 300px;
}

.bA4MContainer h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: white;
  line-height: 58px;
  letter-spacing: 1.3px;
  margin-top: 0;
}

.bA4MContainer div figcaption h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #FDD300;
  line-height: 1px;
  letter-spacing: 1px;
}

.bA4MContainer div figcaption p {
  color: white;
}

.blogForm {
  margin-top: 100px;
}

.blogForm fieldset {
  border: none;
}

.blogField1 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.blogField1 input {
  width: 100%;
  color: white;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 4px #FDD300;
          box-shadow: 0 4px #FDD300;
}

.blogField2 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 15px;
  padding: 0;
}

.blogField2 input {
  background-color: transparent;
  color: white;
  border: solid 4px #FDD300;
  padding: 5px 10px 200px 10px;
}

.blogField3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 25px;
  padding: 0;
}

.blogField3 input {
  width: 100%;
  padding: 10px 0;
  border: none;
  text-align: center;
  background-color: #FDD300;
  color: black;
}

.contactHeader {
  background-image: url(../images/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contactHeadWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.contactHeadWrap nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactHeadWrap nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 29px;
  letter-spacing: 1px;
}

.contactHeaderTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactHeaderTitle__HeadingContainer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white;
  line-height: 99.8px;
}

.contactHeaderTitle__HeadingContainer__Heading--whiteBG {
  padding-top: 10px;
  text-align: center;
  background-color: white;
  color: black;
}

.contactHeaderTitle div {
  width: 50%;
  padding-bottom: 300px;
}

.cMain {
  -ms-grid-columns: 3fr 7fr;
      grid-template-columns: 3fr 7fr;
  grid-gap: 50px;
  font-size: 5rem;
  padding-top: 100px;
}

.t2 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #171B0E;
  padding: 75px 50px;
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
  -webkit-box-shadow: 20px 20px #FDD300;
          box-shadow: 20px 20px #FDD300;
}

.t1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1.5fr 2.5fr;
      grid-template-rows: 1.5fr 2.5fr;
  grid-row-gap: 50px;
}

.contactIconContainer {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

.contactIconContainer p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.contactIcon {
  font-size: 30px;
  color: #FDD300;
}

.t1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  color: white;
}

.bA4MContainer h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: white;
  line-height: 58px;
  letter-spacing: 1.3px;
  margin-top: 0;
}

.bA4MContainer div figcaption h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #FDD300;
  line-height: 1px;
  letter-spacing: 1px;
}

.bA4MContainer div figcaption p {
  color: white;
}

.blogForm {
  margin-top: 0px;
}

.blogForm fieldset {
  border: none;
}

.blogField1 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.blogField1 input {
  width: 100%;
  color: white;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 4px #FDD300;
          box-shadow: 0 4px #FDD300;
}

.blogField2 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 15px;
  padding: 0;
}

.blogField2 input {
  background-color: transparent;
  color: white;
  border: solid 4px #FDD300;
  padding: 15px 15px 250px 15px;
}

.blogField3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 25px;
  padding: 0;
}

.blogField3 input {
  width: 100%;
  padding: 10px 0;
  border: none;
  text-align: center;
  background-color: #FDD300;
  color: black;
}
